
.writers-container
{
    display:grid;
    grid-template-columns:3fr 1fr;
    margin-bottom: 40px;
}
.writer-container
{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap:40px;
    margin-left: 60px;
    
}
.cart-container
{
    text-align:center;
    margin-left: 40px;
   
    
}
.cart-components
{
    background-color:beige;
    padding:10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 1px solid rgba(0, 255, 0, 0.50);

}
.cart-icon
{
    color:purple;
}