
.details-container
{
    text-align: center;
    padding:10px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius:5px;
}

.details-container:hover
{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    background-color:rgb(217, 253, 217);
    transition:1s;
}

.details-container img {
    border-radius:50%;
}

.details-container img:hover{
 
    transform: scale(1.1);
    transition:1s;
}

.salary-color
{
    color:rgb(255, 123, 0);
    font-weight:bold;
}
.btn-cart
{
    height:35px;
    width:70%;
    /* background-color:rgb(87, 9, 87); */
    background-color:rgb(110, 0, 110);
    border:1px solid black;
    border-radius: 10px;
    color:white;
    font-size:15px;
    margin-bottom: 10px;
}
.btn-cart:hover
{
    cursor: pointer;
}

.fa-shopping-cart
{
    margin-right: 5px;
}
